<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
		<script src="../lib/vue/vue-2.5.js"></script>
	</head>
	<body>
		<!--追加点评-->
		<!--头部-->
		<div class="check_top">
			<div class="check_top_content">
				<img class="fl" src="../static/images/back.png"/>
				追加点评
			</div>
			<!--评星-->
			<div class="add_star">
				<span>维修质量</span>
				<span>评星星星小星星</span>
				<span>很好</span>
			</div>
		</div>
		
		<!--意见内容-->
		<div class="feed_content">
			<textarea placeholder="服务人员接待很热情,维修师傅检查的很仔细 ~"></textarea>
		</div>		
		<div class="check_sure">
			<a href="javascript:;">提交</a>
		</div>
	</body>
</html>
