<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
		<script src="../lib/vue/vue-2.5.js"></script>
	</head>
	<body>
		<!--验证乐车券码-->
		<!--头部-->
		<div class="check_top">
			<div class="check_top_content">
				<img class="fl" src="../static/images/back.png"/>
				验证乐车券码
			</div>
		</div>
		<!--提示-->
		<div class="check_tip">
			<span>i</span>
			验券即表示乐车券消费订单已经完成,请确保4s店已经为您完成所有订单保养服务
		</div>
		<!--券码-->
		<div class="coupon_code">
			<span class="code_font">乐车券码:</span>
			<span class="code_number">2680786265</span>
		</div>
		<div class="check_input">
			<input type="text" placeholder="请输入上方乐车券码"/>
		</div>
		<div class="check_sure">
			<a href="javascript:;">确认验券</a>
		</div>
	</body>
</html>
