<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
		<script src="../lib/vue/vue-2.5.js"></script>
	</head>
	<body>
		<!--意见反馈-->
		<!--头部-->
		<div class="check_top">
			<div class="check_top_content">
				<img class="fl" src="../static/images/back.png"/>
				意见反馈
			</div>
		</div>
		<!--意见内容-->
		<div class="feed_content">
			<textarea placeholder="请输入您的意见以及建议,我们会做的更好 ~"></textarea>
		</div>		
		<div class="check_sure">
			<a href="javascript:;">提交</a>
		</div>
	</body>
</html>
