<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
	</head>
	<body style="background-color: #f4f4f8;">
		<div class="my_header">
			<img style="width: 60px;" src="../static/images/my_touxiang.png" class="fl"/>
			<span class="fl"> &nbsp; 点击登录</span>
			<a href=""><img src="../static/images/my_set.png" alt="" class="fr" style="width: 20px;margin-top: -30px;"/></a>
		</div>
		<div class="my_row2">
			<div class="fl my_row33">
				<p><big class="my_grayzi my_0">0</big> &nbsp;元</p>
				<p class="my_grayzi my_smallzi">我的钱包</p>
			</div>
			<div class="fl my_row34">
				<p><big class="my_grayzi my_0">0</big> &nbsp;张</p>
				<p class="my_grayzi my_smallzi">我的优惠劵</p>
			</div>
			<div class="fl my_row33">
				<p><big class="my_grayzi my_0">0</big> &nbsp;辆</p>
				<p class="my_grayzi my_smallzi">我的车库</p>
			</div>
		</div>
			<div class="my_gray" > </div>
			<div class="my_dingdan">
			<img src="../static/images/my_dingdan.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;我的订单<span class="fr my_grayzi" style="font-size: 12px;">查看全部订单 &nbsp;<img src="../static/images/act_rjt.png" style="width: 5px;"/></span>
		</div>
		<div class="my_row3">
			<div class="fl my_row331">
				<p><img src="../static/images/my_daizf.png" style="width: 18px;"/></p>
				<p class="my_grayzi my_smallzi">待支付</p>
			</div>
			<div class="fl my_row341">
				<p><img src="../static/images/my_fuwu.png" alt=""  style="width: 18px;"/></p>
				<p class="my_grayzi my_smallzi">服务中</p>
			</div>
			<div class="fl my_row331">
				<p><img src="../static/images/my_daipj.png"  style="width: 18px;"/></p>
				<p class="my_grayzi my_smallzi">待评价</p>
			</div>
		</div>
		<div class="my_gray" > </div>
		<div class="my_yaoqing">
			<img src="../static/images/my_yaoqing.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;邀请有礼<span class="fr my_grayzi" style="font-size: 12px;">邀一位好友获￥10~￥30 &nbsp;<img src="../static/images/act_rjt.png" style="width: 5px;"/></span>
		</div>
		<div class="my_haoping">
			<img src="../static/images/my_haoping.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;五星好评<span class="fr my_grayzi" style="font-size: 12px;"><img src="../static/images/act_rjt.png" style="width: 5px;"/></span>
		</div>
		<div class="my_jiameng">
			<img src="../static/images/my_jiameng.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;4S店加盟<span class="fr my_grayzi" style="font-size: 12px;"><img src="../static/images/act_rjt.png" style="width: 5px;"/></span>
		</div>
		<div class="my_huodong">
			<img src="../static/images/my_huodong.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;热门活动<span class="fr my_grayzi" style="font-size: 12px;"><img src="../static/images/act_rjt.png" style="width: 5px;"/></span>
		</div>
		<div class="my_gray" > </div>
		<div class="my_kefu">
			<img src="../static/images/my_kefu.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;联系客服<span class="fr my_grayzi" style="font-size: 12px;"><img src="../static/images/act_rjt.png" style="width: 5px;"/></span>
		</div>
		<div class="my_wenti">
			<img src="../static/images/my_wenti.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;常见问题<span class="fr my_grayzi" style="font-size: 12px;"><img src="../static/images/act_rjt.png" style="width: 5px;"/></span>
		</div>
		<div class="my_fankui">
			<img src="../static/images/my_fankui.png" class="fl" style="width: 24px;"/>&nbsp;&nbsp;常见问题<span class="fr my_grayzi" style="font-size: 12px;"><img src="../static/images/act_rjt.png" style="width: 5px;"/></span>
		</div>
		<div class="my_gray" style="padding-top: 15px;"> </div>
		<!--footer-->
		<div class="index_footer padding">
			<ul>
				<li> 
					<img src=" ../static/images/222.png"/><br />
					<span class="footer_color">首页</span>
				</li>
				<li> 
					<img src="../static/images/333.png"/><br />
					<span>4s店</span>
				</li>
				<li> 
					<img src="../static/images/555.png"/><br />
					<span>头条</span>
				</li>
				<li> 
					<img src="../static/images/777.png"/><br />
					<span>我的</span>
				</li>
			</ul>
		</div>
	</body>
</html>
