<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>修改结果</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
	</head>
	<body style="background-color: #f4f4f8;">
		<div class="set_header padding">
			<a class="set_larrow fl">
				<img style="width:6px;padding-left: 15px;" class="imgljt" src="../static/images/set_ljt.png"/> &nbsp;<span style="font-size: 14px;color: #666666;">首页</span>
			</a>
			<span style="margin-left: -58px;">修改结果</span>
		</div>
		<div class="psu_zfwancheng">
			<img src="../static/images/bluedui.png" style="width: 64px;"/>
			<p>修改完成</p>
		</div>
		<div class="psu_dingdan">
			订单详情<span class="fr my_grayzi" style="font-size: 12px;"><img src="../static/images/act_rjt.png" style="width: 5px;"/></span>
	</body>
</html>

