<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
		<script src="../lib/vue/vue-2.5.js"></script>
	</head>
	<body>
		<!--头部-->
		<div class="discount_top">
			<div class="discount_top_content padding">
				<img class="fl" src="../static/images/back.png"/>
				我的优惠券
				<span class="fr">使用说明</span>
			</div>
		</div>
		<div class="clear"></div>
		<!--不适用优惠券-->
		<div class="not_discount">
			<div class="not_discount_content">
				不适用优惠券
			</div>
		</div>
		<!--优惠券们-->
		<div class="discounts">
			<ul>
				<li>
					<div class="li_money2">
						￥1000
					</div>
					<div class="li_money">
						<p class="li_money_size">保养抵用券</p><br />
						<p class="li_money_all">全场通用</p>
						<span class="li_money_all">有效期至 2016-07-30</span>
					</div>
				</li>
				<li>
					<div class="li_money2">
						6.8折
					</div>
					<div class="li_money">
						<p class="li_money_size">折扣上限￥600</p><br />
						<p class="li_money_all">全场通用</p>
						<span class="li_money_all">有效期至 2016-07-30</span>
						<span class="fr" style="font-size: 10px;color:#666;">使用规则</span>
					</div>
				</li>
				<li>
					<div class="li_money2">
						￥99
					</div>
					<div class="li_money">
						<p class="li_money_size">保养特价券</p><br />
						<span class="li_money_all">有效期至 2016-07-30</span>
					</div>
				</li>
				<li>
					<div class="li_money2">
						免费
					</div>
					<div class="li_money">
						<p class="li_money_size">首单免单券</p><br />
						<span class="li_money_all">有效期至 2016-07-30</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
		<!--历史-->
		<div class="discount_history">
			<div class="discount_history_content">
				不适用优惠券
				<img class="fr" src="../static/images/act_rjt.png" width="8px"/>
			</div>
		</div>
	</body>
</html>
