<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/lebang.css" />
	</head>
	<body>
		<div class="">
			<p class="zptitle mB10 padding"><span class="zshareion"></span><span class="backto"></span>充值说明</p>
			<div class="rechargecont">
				<div class="zstatetitle padding">
					<h3>支持全国中石化</h3>
					<p>绑定个人记名加油卡</p>
				</div>
				<div class="zstatecont padding">
					<p class="zstatecontp">支持用户卡的主卡、单用户卡</p>
					<p>不支持增值税票卡、副卡、不记名卡、过期卡、中石油BP卡、司机卡</p>
				</div>
			</div>
			<div class="rechargecont">
				<div class="zstatetitle padding">
					<h3>充值时间&nbsp;02:00&nbsp;22:00</h3>
					<p>到账/圈存/退款</p>
				</div>
				<div class="zstatecont padding">
					<p class="zstatecontp">当天02:00到22:00充值，一般10分内到账，不在此时间内购买，充值到账会延迟到第二天</p>
					<p class="zstatecontp">圈存：激活已充值到账的加油卡，加油站可人工圈存或在机器上刷一下自主圈存，金额即可圈存到您的卡中，即可刷卡加油</p>					
					<p>退款：因卡号填写错误并且充值成功，一律不予退款，添加加油卡时请仔细和对您的卡号。</p>
				</div>
			</div>
			<div class="rechargecont">
				<div class="zstatetitle padding">
					<h3>其他问题</h3>
					<p>发票/优惠</p>
				</div>
				<div class="zstatecont padding">
					<p class="zstatecontp">请在充值成功24小时后(部分省市48小时后)的90天内，携带加油卡至中石化售卡服务网点，工作人员会根据您的充值记录开具发票。</p>
					<p>中石化客服电话：95105888/95105988</p>
				</div>
			</div>
			<div class="rechargecont">
				<div class="zstatetitle padding">
					<h3>如何办理加油卡</h3>

				</div>
				<div class="zstatecont padding">
					<p class="zstatecontp">加油卡是中石化，中石油发行的全国通用的加油IC卡，持卡可在中石化、中石油全国直营加油站刷卡加油。</p>
					<p class="zstatecontp">您可以在中石化、中石油全国直营加油站办理加油卡。办理后可通过乐车邦给加油卡充值，方便、快捷、有优惠。</p>
					<p>加油卡图例(外观可能因省份存在差异)</p>
					<div class="gascardimg">
						<img class="fl" src="../static/images/gascardpic1.png" alt="" />
						<img class="fr" src="../static/images/rechargecard2.png" alt="" />
					</div>
					<ul class="zstatebott">
						<li class="zstatebottword">携带身份证前往中石化直营加油站</li>
						<li class="tobottomjian"><img src="../static/images/tobottomjiantou.png" alt="" /></li>
						<li class="zstatebottword">向工作人员申请办理记名主卡</li>
						<li class="tobottomjian"><img src="../static/images/tobottomjiantou.png" alt="" /></li>
						<li class="zstatebottword">将身份证及填好的表格交给工作人员</li>
						<li class="tobottomjian"><img src="../static/images/tobottomjiantou.png" alt="" /></li>
						<li class="zstatebottword">开户后，工作人员给您发放带有卡号的加油IC卡</li>
						<li class="tobottomjian"><img src="../static/images/tobottomjiantou.png" alt="" /></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
