<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/lebang.css" />
	</head>
	<body>
		<div class="">
			<p class="zptitle mB10 padding"><span class="backto"></span>充值记录</p>
			<ul class="padding zrecordul">
				<li>
					<div class="zrecordleft">
						<p class="zrecordtitle">及时充值&emsp;&emsp;￥500</p>
						<p class="zrecordcon">中石化1000&nbsp;1131&nbsp;0000&nbsp;3619923&nbsp;</p>
						<p class="zrecordcon">购买时间：2016-08-10&nbsp;14:00</p>
					</div>
					<span class="zrecordright">充值成功</span>
				</li>
				<li>
					<div class="zrecordleft">
						<p class="zrecordtitle">及时充值&emsp;&emsp;￥500</p>
						<p class="zrecordcon">中石化1000&nbsp;1131&nbsp;0000&nbsp;3619923&nbsp;</p>
						<p class="zrecordcon">购买时间：2016-08-10&nbsp;14:00</p>
					</div>
					<span class="zrecordright">充值成功</span>
				</li>
				<li>
					<div class="zrecordleft">
						<p class="zrecordtitle">及时充值&emsp;&emsp;￥500</p>
						<p class="zrecordcon">中石化1000&nbsp;1131&nbsp;0000&nbsp;3619923&nbsp;</p>
						<p class="zrecordcon">购买时间：2016-08-10&nbsp;14:00</p>
					</div>
					<span class="zrecordright">充值成功</span>
				</li>
			</ul>
			<div class="zrechargefooter padding">
				<button class="zrechargefooterbtn">继续充值</button>
			</div>
		</div>
	</body>
</html>
