<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/lebang.css" />
	</head>
	<body>
		<div class="">
			<p class="zptitle mB10 padding"><span class="backto"></span>充值记录</p>
			<div class="rechargerecord2">
				<div class="emptychargepic"><img src="../static/images/recharge2.png" alt="" /></div>
				<p class="emptychargeword">暂时还没有充值记录，加油~</p>
			</div>
		</div>
	</body>
</html>
