<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册有礼</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
	</head>
	<body>
		<!--头部-->
		<div class="act_header padding">
			<a class="act_larrow">
				<img style="width:10px;padding-left: 15px;" class="fl imgljt" src="../static/images/pre_ljt.png"/>
			</a>
			注册有礼
			<a href="" class="act_rarrow">
				<img style="width:17px;padding-right: 15px;" src="../static/images/icon.png" class="fr act_rtel"/>
			</a>
		</div>
		<div class="clear"></div>
		<!--车主福利领取查看券-->
		<div class="owner">
			<div class="owner_top">
				<p>您已注册，查看我的抵用券</p>
			</div>
			<div class="owner_footer">
				<p>活动规则</p>
				<p>1、每位乐车邦新用户，注册并登录即可领取300元乐车邦抵用券大礼包一份。</p>
				<p>2、抵用券有效期90天。</p>
				<p>每个手机号码仅限领取一次。</p>
				<p>有任何疑问可拨打客服热线 : 4006-300-111</p>
				<p>本次活动最终解释权归上海享途网络有限公司所有。</p>
			</div>
		</div>
		<!--footer-->
		<div class="registgift_footer">
			<img src="../static/images/phone.png" alt="" />
			联系客服 : 4006-300-111
		</div>
	</body>
</html>
