<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/lebang.css" />
	</head>
	<body>
		<div class="">
			<p class="zptitle mB10 padding"><span class="backto"></span>订单详情</p>
			<div class="padding">
				<p class="serviceaggrementtit">乐车邦加油卡服务协议</p>
				<p class="serviceaggrementcon">
					&emsp;&emsp;乐车邦尊重并保护所有使用乐车邦服务用户的个人隐私权。您一旦注册成功，成为本站的合法用户，将得到一个用户名和密码。您需维护自己账号和密码之安全，如果您不保管好自己的账号和密码安全，将负全部责任。另外，每个用户都要对其账户中的所有活动和事件负全部责任。<br /><br />
					&emsp;&emsp;某些特殊的个人信息可能被认为是个人敏感信息，例如您的种族、宗教、个人健康信息和医疗信息等，这些敏感信息将受到严格保护。乐邦车隐私条款在此提醒您，您在使用乐邦车为您提供的产品及服务中所上传或发布的内容和信息可能会泄露您的个人敏感信息。因此，您需要在使用我们为您提供的产品或服务前谨慎考虑。您同意这些个人敏感信息将按照<乐车邦隐私政策>阐明的目的和方法来进行处理。<br /><br />
						&emsp;&emsp;除非事先得到您的许可，乐车邦不会公开、编辑或透露用户的补充资料及保存在乐车邦会员服务中的非公开内容、亦不会向任何无关的第三方提供、出售、出租、分享或交易您的个人信息。同时，由于乐车邦无法对非法或未经过用户授权使用账号及密码之行为进行甄别，您应当遵循法律法规应当谨慎合理地使用和妥善保管乐车邦账号及密码。
				</p>
			</div>
		</div>
	</body>
</html>
