<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/lebang.css"/>
		<script src="../lib/vue/vue-2.5.js"></script>
	</head>
	<body>
		<!--选择年款配置-->
		<!--头部-->
		<div class="discount_top top0">
			<div class="discount_top_content padding">
				<img class="fl" src="../static/images/back.png"/>
				选择年款配置
				<span class="fr">扫码识车</span>
			</div>
		</div>
		<div class="years">
			2014款
		</div>
		<div class="years_14">
			<ul>
				<li>2014款520Li典雅班</li>
				<li>2014款530Li风尚设计套装</li>
				<li>2014款530Li风尚设计套装</li>
				<li>2014款525Li领先型</li>
				<li>2014款528Li豪华设计套装</li>
				<li>2014款525LixDriv风尚设计套装</li>
			</ul>
		</div>
		<div class="years">
			2013款
		</div>
		<div class="years_14">
			<ul>
				<li>2013款520Li典雅班</li>
				<li>2013款530Li风尚设计套装</li>
				<li>2013款530Li风尚设计套装</li>
				<li>2013款525Li领先型</li>
				<li>2013款528Li豪华设计套装</li>
				<li>2013款525LixDriv风尚设计套装</li>
			</ul>
		</div>
	</body>
</html>
